.thumbnail {
    margin-bottom: 30px;
}
    .thumbnail.primary {
        background-color: #D9EDF7;
        border-color: #BCE8F1;
    }
    .thumbnail.new {
        background-color: #DFF0D8;
        border-color: #D6E9C6;
    }

.big-avatar {
    position: relative;
}

    .big-avatar span {
        display: block;
        position: absolute;
        left: 5px;
        top: 5px;
    }

.remove-bottom-margin {
    padding-top: 10px;
    margin-bottom: -20px;
    position: relative;
    z-index: 0 !important;
}


.add-top-padding {
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: -8px;
    position: relative;
    z-index: 0 !important;
}


.percentage {
    width: 80px;
    height: 16px;
    margin-right: 10px;
}

.percentage .progress {
    height: 16px;
    margin-top: 2px;
}

.progress {
    position: relative;
}

.percent {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 80px;
    font-family: Verdana;
    font-size: 9px;
    color: white;
}


.services {
    list-style-type: none;
    clear: both;
    margin: 0;
    padding: 0;
}

    .services li {
        width: 270px;
        float: left;
        margin-left: 0px;
        margin-right: 20px;
        opacity: 0.4;

        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    .services li.last-per-row {
        margin-right: 0px;
    }

    .services li.selected,
    .services li.selected .list-group-item-heading {
        color: #555;
        opacity: 1;

        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        filter: grayscale(0);
    }

    .no-jumbo .services li.selected .list-group a {
        background-color: #FDFDFD;
    }

    .services li.selected .list-group a {
        background-color: #f5f5f5;
    }

    .services li.soon:hover {
        opacity: 0.4;
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        filter: grayscale(0);
    }


    .services li:hover {
            opacity: 1;

            -webkit-filter: grayscale(0);
            -moz-filter: grayscale(0);
            filter: grayscale(0);
        }
        .services li a.list-group-item  {
            height: auto;
        }

        .services li .service {
            margin-left: -10px;
            margin-top: 0px;
            margin-right: 5px;
        }

            .services li .service-text {
                margin-top: 14px;
            }


            .services li .list-group-item-text {
                font-family: Verdana;
                font-size: 10px;
                text-transform: uppercase;
                color: #868686;
            }

            .services li.selected .list-group-item-text {
                font-style: italic;
            }


.margin-top {
    padding-top: 30px;
}

.account-info img {
    margin-right: 20px;
}

.glyphicon.text-danger {
    color: #FF5656;
}

.glyphicon.text-success {
    color: #65B356;
}

#gSignInWrapper {
    opacity: 1;
}

#gSignInWrapper:hover {
    opacity: 1;
}

#customBtn {
    display: inline-block;
    background: #dd4b39;
    color: white;
    width: auto;
    border-radius: 5px;
    white-space: nowrap;
}
    #customBtn:hover {
        background: #e74b37;
        cursor: pointer;
    }
    span.label {
        font-weight: bold;
    }
    span.icon {
        background: url('../images/btn-red.png') transparent 5px 50% no-repeat;
        display: inline-block;
        vertical-align: middle;
        width: 56px;
        height: 56px;
        border-right: #bb3f30 1px solid;
    }
    span.buttonText {
        display: inline-block;
        vertical-align: middle;
        padding-left: 52px;
        padding-right: 57px;
        font-size: 14px;
        font-weight: bold;
        /* Use the Roboto font that is loaded in the <head> */
        font-family: 'Roboto',arial,sans-serif;
    }

/*
 * Style twaks
 * --------------------------------------------------
 */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}